@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: #0e7e12;
  box-sizing: border-box;
}

.card {
  display: inline-flex;
  width: 25rem;
  height: 35rem;
  margin-top: 3rem;
  border-radius: 2rem;
  background-color: white;
  border: 2px solid black;
}
.number {
  margin-top: 99px;
  margin-bottom: 20px;
  font-size: 60px;
  padding: 0px;
}
.top-suit {
  display: flex;
  justify-content: flex-start;
  font-size: 80px;
  margin-left: 20px;
}
.bottom-suit {
  display: flex;
  justify-content: flex-end;
  margin-top: 111px;
  font-size: 80px;
  margin-right: 20px;
}
